@model IEnumerable<StudentManagementsystem.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="get" asp-action="Index">
   
    <p>
        
        <br>
        <input type="search" placeholder="Mobile Number"
        value="@ViewData["Main List"]" name="studentsearch" style="width:500px;"required />
       
        <input type="submit" value="Search" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-primary">List All</a>
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseJoining">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseJoining">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseJoining">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
